<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/images/logos/favicon.png" type="image/png">
    <title id="blogTitle">NewsBlog</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/src/jquery.unobtrusive-ajax.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/lib/vue-go-top/dist/vue-go-top.min.js"></script>
    <script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
    <div id="posts">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
            <div class="container">
                <a id="brand" class="navbar-brand" href="/Home">NewsBlog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse show" id="navbarsExample04" style="">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item pr-2">
                            <select id="sort" class="form-control" v-model="sort_selected">
                                <option value="0" selected>Сортировать по дате</option>
                                <option value="1">Сортировать по источнику</option>
                            </select>
                        </li>
                        <li class="nav-item pr-2">
                            <select id="sources" class="form-control" asp-items="ViewBag.Sources" v-model="source_selected">
                                <option>Все источники</option>
                            </select>
                        </li>
                        <li class="nav-item pr-2">
                            <select id="categories" class="form-control" asp-items="@(new SelectList(string.Empty, "Name", "Name"))" v-model="category_selected">
                                <option>Все категории</option>
                            </select>
                        </li>
                    </ul>
                    <div>
                        <input value="@ViewBag.SearchQuery" name="query" class="form-control" type="text" v-model="query" placeholder="Поиск">
                    </div>
                </div>
            </div>
        </nav>

        <div class="container body-content" v-if="posts">
            @RenderBody()
        </div>
        <div id="loader" class="loading" v-if="loader"></div>
        <go-top></go-top>
    </div>

    <footer class="footer">
        <div class="container">
            @if (DateTime.Now.Year == 2019)
            {
                <span class="text-muted">&copy; 2019 - NewsBlog</span>
            }
            else
            {
                <span class="text-muted">&copy; 2019 - @DateTime.Now.Year - NewsBlog</span>
            }
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
